<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My uploader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><b>MyUploader</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <div class="container my-5">
            <div class="mb-3">
                <label for="fname" class="form-label">File Name</label>
                <input type="text" class="form-control" name="name" id="fname" placeholder="Please enter the file name"
                    required>
            </div>
            <div class="mb-3">
                <label for="fdesc" class="form-label">File description</label>
                <input type="text" name="desc" class="form-control" id="fdesc"
                    placeholder="Please enter the file description" required>
            </div>
            <div class="mb-3">
                <label for="file1" class="form-label">File upload</label>
                
                <input type="file" class="form-control" id="file1" name="file" accept=".xls, .csv, .txt"
                    onchange="Filevalidation()" required>
            </div>
            <div class="mb-3 d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-dark"> Upload</button>
            </div>
        </div>
    </form>
    <div>
        <p style="text-align: center; color:red;"> *THE UPLOADED FILE MUST CONTAIN COLUMNS WITH NAME -   'Order Date','Customer Name', 'Country', 'State' ,
            'Region', 'Category', 'Sales', 'Quantity', 'Discount', 'Profit'</p>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}  
        {% if messages %}  
              {% for message in messages %}  
                   <p>{{ message }}</p>  
              {% endfor %}  
        {% endif %}  
     {% endwith %}  
    </div>
    <div class="container my-6">
        <h1>Your Files</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">| File Name</th>
                    <th scope="col">| File Desc</th>
                    <th scope="col">| Date</th>
                    <th scope="col">| Action</th>

                </tr>
            </thead>
            <tbody>
                {% for item in allmyupload %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>| {{item.name}}</td>
                    <td>| {{item.desc}}</td>

                    <td>| {{item.date_create}}</td>
                    <td><button type="button" class="btn btn-sm btn-outline-danger"><a href="/delete/{{item.sno}}"
                                style="text-decoration: none; color: black;">remove</a></button>
                                <button type="button" class="btn btn-sm btn-outline-success"><a href="/analyse/{{item.sno}}"
                                    style="text-decoration: none; color: black;">analyse</a></button></td>

                </tr>

                {% endfor %}


            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
<script>
    Filevalidation = () => {
        const fi = document.getElementById('file');
        // Check if any file is selected.
        if (fi.files.length > 0) {
            for (const i = 0; i <= fi.files.length - 1; i++) {

                const fsize = fi.files.item(i).size;
                const file = Math.round((fsize / 1024));
                // The size of the file.
                if (file >= 10000) {
                    alert(
                        "File too Big, please select a file less than 10mb");
                } else if (file < 0) {
                    alert(
                        "File too small, please select a file greater than 0mb");
                }


            }
        }
    }
</script>

</html>